[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "==1.9.4"

[dev-packages]
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-bandit" = "*"
"flake8-import-order" = "*"
"flake8-tidy-imports" = "*"
nuitka = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "python -m flake8 ."
start = "python -m game"
build = "python -m nuitka --include-package game --standalone game/__main__.py"
